@import 'datatables.net-dt'; 
@tailwind base;
@tailwind components;
@tailwind utilities;

.multiselect-disabled,
.multiselect-disabled * {
    cursor: not-allowed !important;
}

.multiselect-disabled .multiselect__tags,
.multiselect-disabled .multiselect__input,
.multiselect-disabled .multiselect__select {
    background-color: #f3f4f6; /* gray-100 */
    color: #9ca3af; /* gray-400 */
}

.multiselect-disabled .multiselect__input::placeholder {
    color: #9ca3af;
}